body{
    font-family: Arial, Helvetica, sans-serif;
}

#prompt{
    color: gray;
}

#title {
    text-align: center;
    font-size: 75px;
    margin-top: 0px;
    padding: 20px;
    color: white;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
}